#eventPreview h1 {
  max-width: 600px;
}
#eventPreview p {
  font-weight: 300;
  margin-top: 15px;
  max-width: 600px;
}
#eventPreview button {
  background: #fcfcfc;
  color: #bdbf01;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 38px;
  padding: 12px 30px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s ease;
}
#eventPreview button:hover {
  color: #fcfcfc;
  background: #bdbf01;
}