footer {
  position: relative;
  width: 100%;
  left: 0;
  bottom: 0;
  text-align: center;
  color: #fcfcfc;
  background-color: #1b191d;
}
footer address {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-style: normal;
}
footer a {
  color: #fcfcfc;
  text-decoration: none;
  transition: 0.2s ease;
}
footer a:hover {
  color: #bdbf01;
}
footer .details {
  flex-direction: column;
  margin: 14px;
}
footer .details i {
  font-size: 2rem;
  color: #bdbf01;
  margin-bottom: 10px;
}