@import "./../variables.scss";

footer {
    position: relative;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
    color: $tertiaryColor;
    background-color: $secondaryColor;

    address {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        font-style: normal;
    }

    a {
        color: $tertiaryColor;
        text-decoration: none;
        transition: 0.2s ease;

        &:hover {
            color: $primaryColor;
        }
    }

    .details {
        flex-direction: column;
        margin: 14px;

        i {
            font-size: 2rem;
            color: $primaryColor;
            margin-bottom: 10px;
        }
    }
}
