@import "./../variables.scss";
@import "sections/hero.scss";
@import "sections/carousel.scss";

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    height: 100vh;
    height: 100svh;
    width: 100%;
}

section {
    position: relative;
    width: 100%;
}
