@import "./../variables.scss";
@import "sections/hero.scss";
@import "sections/gallery.scss";

main {
  height: 100vh;
  height: 100svh;
  width: 100%;

  // background-image: url("./../img/gabriel-gurrola-2UuhMZEChdc-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  background-color: $darkPrimaryColor;
}

section {
  position: relative;
  height: 100vh;
  height: 100svh;
  width: 100%;
}
