@import "./../../variables.scss";

#gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    max-width: 1200px;

    figure {
        background-color: $tertiaryColor;
        padding: 10px;
        max-width: 370px;
        max-height: 220px;
        aspect-ratio: 37/22;
        filter: drop-shadow(2px 3px 10px $secondaryColor);

        transform: scale(1);
        z-index: 0;
        transition: all 0.4s ease;

        &:hover {
            transform: scale(1.1);
            z-index: 1;
            transition: all 0.4s ease;
        }

        img {
            width: 100%;
            max-width: 350px;
            max-height: 200px;
            object-fit: cover;
        }
    }
}
