@font-face {
  font-family: "Handwriting";
  src: url(font/DancingScript-VariableFont_wght.ttf) format("truetype");
}

@font-face {
  font-family: "Primary";
  src: url(font/Fira_Sans_Extra_Condensed.ttf) format("truetype");
}